.hotels-lits-container{
    min-width: 200px;
    margin: 20px auto;
    text-align: center;
}

#hotels-list {
    background-color: rgb(255, 254, 254);
    border-radius: 5px;
    margin: auto;
}

.btn-delete-form {
    background-color: rgb(234, 83, 83);
    margin-left: 60px;
}

.btn-update-form {
    align-content: space-between;
}