.nav-container {
	background-color: #FFB703;
	text-align: center;
}

.nav-bar>li {
	padding: 1px;
	font-size: 16px;
	color: #FFFFFF;
	font-weight: bold;
	list-style: none;
}

.img-rss {
	width: 50px;
}

.nav-bar a {
	text-decoration: none;
	color: #f5f1f1;
}

a:hover {
	color: #219ebc;
	font-size: 16.5px;
}

@media screen and (max-width:500px) {
	ul.hidden {
		position: relative;
		top: 0;
	}

	.nav-container {
		flex-direction: column;
		height: auto;
	}

	.nav-bar {
		text-align: center;
	}	

	.btn-nav {
		display: block;
		cursor: pointer;
		width: 100%;
		height: 35px;
		margin-bottom: 10px;
	}

	.btn-nav > img{
		height: 30px;
		width: 60%;
	}

	img.hidden {
		transform: scaleY(-1);
	}
	img.show{
		transform: scaleY(1);
	}
}


@media screen and (min-width:500px) {
	.btn-nav {
		display: none;
	}

	.nav-container {
		background-color: #FFB703;
		height: auto
	}

	.nav-bar {
		height: 90%;
		display: flex;
		justify-content: space-around;
		align-items: center;
	}
} 