.nav-container {
	background-color: #FFB703;
}

.nav-bar>li {
	padding: 1px;
	font-size: 16px;
	color: #FFFFFF;
	font-weight: bold;
	list-style: none;
	margin-bottom: 10px;
}

a {
	text-decoration: none;
	color: #f5f1f1;
}

a:hover {
	color: #219ebc;
	font-size: 16.5px;
}

@media screen and (max-width:360px) {
	.nav-container {
		flex-direction: column;
		height: auto;
	}

	.nav-bar {
		text-align: center;
	}

	.nav-bar {
		text-align: center;
	}
}

@media screen and (min-width:360px) {
	.nav-container {
		background-color: #FFB703;
		height: 25%;
		width: 100%;
	}

	.nav-bar {
		height: 100%;
		display: flex;
		justify-content: space-around;
		align-items: center;
	}
}