.imgList-container {
  background-color: red;
  height: 100%;
  width: 100%;
  position: relative;
}

.imgs-imgList {
    height: 100%;
<<<<<<< HEAD:src/components/imgList/ImgList.css
    max-width: 1200px;
    margin: auto;
=======
    width: 100%;
    margin: auto;
    object-fit: cover;
>>>>>>> 60720fe482d3a7d9fad44213ba570643ab9dae47:src/components/ImgList/ImgList.css
  }
  
  .btn {
    position: absolute;
    width: 142px;
    height: 33px;
    background: rgba(17, 102, 102, 0.85);
    bottom: 15px;
    right: 15px;
    color: #FAFFF4;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
  }