.hotels-container{
    height: auto;
    margin: 2vh 0;
}

.hotels-information-container{
    margin: 0 2vw 4vh 2vw;
}

.icon-container > a > ion-icon{
    font-size: 35px;
    position: absolute;
    bottom: 0;
    right: 5px;
    color: #FFF;
    background-color: rgba(0, 0, 0, 0.16);
    border-radius: 100px;
    cursor: pointer;
}

.map-container {
    width: 150px;
    height: 110px;
    background-color: #fb8500;
    z-index: 100;
    position: absolute;
    border-radius: 80px / 60px;
    transform: rotate(5deg);
    bottom: 0;
    display: flex;
}

@media screen and (max-width:360px) {
    .map-container {
       display: none;
    }

    .img-hotels{
        height: 100%;
        width: 100%;
        /* position: relative; */
    }

    .hotels-information-container{
        width: 90vw;
        height: 200px;
    }
}


@media screen and (min-width:360px) {
    .hotels-information-container{
        width: 350px;
        height: 200px;
        position: relative;
        margin: auto;
        margin-top: 3vh;    }
    
    .img-hotels{
        height: 85%;
        width: 250px;
        z-index: 50;
        right: 0;
        position: absolute;
    }
}

@media screen and (min-width:750px) {
    .hotels-container{
        flex-direction: row;
        flex-wrap: wrap;
        display: flex;
        min-height: 50vh;
    }
}